<p id="notice"><%= notice %></p>

<h1>Mascotas Ingresadas</h1>

<table class="table table-warning text-center">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Fecha Nacimiento</th>
      <th>Cliente</th>
      <th>Visitas Totales</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.birth %></td>
        <td><%= pet.owner %></td>
        <td><%= pet.visits %></td>
        <td><%= link_to 'Más Info', pet %></td>
        <td><%= link_to 'Editar', edit_pet_path(pet) %></td>
        <td><%= link_to 'Borrar', pet, method: :delete, data: { confirm: 'Confirma eliminación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Mascota', new_pet_path, class: "btn btn-info mx-2" %>
<%= link_to 'Regresar', pages_index_path, class: "btn btn-warning mx-2" %>

