<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Dueño:</strong>
  <%= @pet.owner %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @pet.birth %>
</p>

<p>
  <strong>Peso Promedio:</strong>
  <%= @pet.avgw %>
</p>

<p>
  <strong>Peso Máximo:(kilos)</strong>
  <%= @pet.maxw %>
</p>

<p>
  <strong>Altura Promedio: (centímetros)</strong>
  <%= @pet.avgh %>
</p>

<p>
  <strong>Altura Máxima:</strong>
  <%= @pet.maxh %>
</p>

<br>
<br>
<div>
  <ol>
            <% @pet.pet_histories.each do |pet| %> 
                <li>
                  <%= pet.diagnose %> , <%= pet.created_at.to_date %>, 
                </li>
                <li>
                  <%= pet.weight %>, <%= pet.height %>,
                </li>

            <% end %>
          </ol>

</div>



<%= link_to 'Consultas' , pet_histories_path(@pet) %>
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
