<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Dueño:</strong>
  <%= @pet.owner %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @pet.birth %>
</p>

<p>
  <strong>Peso Promedio:</strong>
  <%= @pet.avgw %>
</p>

<p>
  <strong>Peso Máximo:(kilos)</strong>
  <%= @pet.maxw %>
</p>

<p>
  <strong>Altura Promedio: (centímetros)</strong>
  <%= @pet.avgh %>
</p>

<p>
  <strong>Altura Máxima:</strong>
  <%= @pet.maxh %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
